.text-comment {
  color: $text-comment-color;
}
.text-orange {
  color: $text-orange-color;
}
.text-red {
  color: $text-red-color;
}
.text-green {
  color: $text-green-color;
}
.text-violet {
  color: $text-violet-color;
}
.text-blue {
  color: $text-blue-color;
}
