$break-small: 425px;
$break-medium: 768px;

@media screen and (max-width: $break-medium) {
  .ims-container {
    width: 80%;
  }
  .ims-header {
    text-align: center;
  }
  .ims-commit-table table .spacer {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: $break-small) {
  body {
    font-size: 13px;
  }
  h5 {
    font-size: 1.2em;
  }
  .ims-container {
    width: 92%;
  }
}
