$bg-color: #292d33;
$bg-dark-color: #22262b;
$comment-text-color: #5d636e;
$text-color: #acb3be;
$text-violet-color: #bb85d9;
$text-red-color: #d3747a;
$text-green-color: #a1be7f;
$text-orange-color: #a1be7f;
$text-yellow-color: #e1bf85;
$text-blue-color: #587ebb;
